[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geemap = "*"
jupyterlab = "*"
jupyter-contrib-nbextensions = "*"
geos = "*"
shapely = "*"
pyshp = "*"

[dev-packages]

[requires]
python_version = "3.8"
